################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
parts = part
versions = versions
hooks-directory = ${buildout:directory}/hooks
eggs-directory=${buildout:directory}/../../eggs/cache
develop-eggs-directory=${buildout:directory}/develop-eggs

[versions]
minitage.recipe = 0.0.1
minitage.core = 0.0.4
setuptools = 0.6c8

[part]
name = part
recipe = minitage.recipe:cmmi
url = http://ftp.gnu.org/pub/gnu/libiconv/libiconv-1.12.tar.gz
md5sum = c2be282595751535a618ae0edeb8f648

